*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instamusic-wrapper{
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: space;
    align-items: center;
}

.instamusic-phone{
    width: 60%;
}

.instamusic-phone img{
    height: 50rem;
}