*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgb(236, 235, 235) 0%, rgba(255,255,255,1) 100%);
}

.instamusic-wrapper{
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instamusic-phone{
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.instamusic-phone img{
    height: 41rem;
}

.instamusic-continue-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*GLOBAL GROUP PROPERTIES*/
.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1.3rem 0;
    margin: 0.5rem 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
}

.group * {
    margin: 5px;
    font-family: Helvetica;
    font-size: 0.9rem;
}

/*SPECIFIC GROUP PROPERTIES*/
/*profile and continue*/
.group:nth-child(1){
    min-height: 3rem;
}

#instamusic-logo{
    height: 3rem;
}

#profile{
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
}

#continue-button{
    color: #fff;
    background-color: #0095f6;
    padding: 0.5rem 0.7rem;
    border-radius: 4px;
    text-decoration: none;
    font-family: Helvetica;
}

#another-account{
    font-family: Helvetica;
    color: #0095f6;
    text-decoration: none;
    margin-top: 10px;
}

/*signup*/
.group:nth-child(2){
    display: flex;
    text-align: center;
}

.group:nth-child(2) .notyou a{
    font-family: Helvetica;
    color: #0095f6;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

/*downloads*/
.get-the-app{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.get-the-app *{
    margin: 10px 0;
    font-family: Helvetica;
    text-decoration: italic;
}

#ios{
    height: 2.5rem;
}

#android{
    height: 2.5rem;
}
